/* =============
    Typography
============= */
body{
    #section-1{
        font-family: 'Comfortaa', cursive;
        font-weight: 400;
    }

    #section-2{
        h1{
            font-family: 'Montserrat', sans-serif;
        }
        p{
            font-family: 'Lato', sans-serif;
        }
    }

    #section-3{
        h1{
            font-family: 'Montserrat', sans-serif;
        }

        h2{
            font-family: 'Montserrat', sans-serif;
        }

        p{
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            
        }
    }

}