/* =============
    Section 3
============= */
#section-3{
    >div{
        
        >h1{
            text-align: center;
        }
        
        padding: 15px;

        #card-1{
            background-color: $lightgray;
            text-align: center;
           
            >h2{
                text-align: center;
            }
        }

        #card-2{
            background-color: $lightgray;
            text-align: center;
           
            >h2{
                text-align: center;
            }
        }

        #card-3{
            background-color: $lightgray;
            text-align: center;
            >h2{
                text-align: center;
            }
        }
       

        
    }
}