/* =============
    Section 1
============= */
#section-1{
    text-align: center;
    
   
    >div{
        background-image: url('../img/main_slide_21.jpg');
        background-size: cover;
        background-position: center;
        height: 694px;

        @include md{
            height: 694px;
        }

        @include lg{
            height: 799px;
        }

        @include xl{
            grid-area: section-1;
            height: 959px;
        }
        >h1{
            padding-top: 200px;
            color: $darkblue;
        }
        >p{
            color: $teal;
        }
        #graphic{
            background-image: url('../img/oval.svg');
            background-size: 40%;
            background-position: center;
            background-repeat: no-repeat;
            height: 78px;

            >h2{
                color: $white;

            }
        }
    }
}
